:root {
    --bs-light-rgb: 225, 220, 220;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: unset;
    margin: 0;
    background-color: rgb(var(--bs-light-rgb));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    line-height: normal;
}

*,
::after,
::before {
    box-sizing: unset;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.slogan-container {
    top: 120px;
    letter-spacing: 1pt;
}

section {
    z-index: 5;
    position: relative;
    width: 100%;
}

section#main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    z-index: 0;

    padding-top: 10px;
}

header#main-header {
    width: calc(100% - 40px);
    padding: 0 20px;
    transition: 1s;
    line-height: 80px;
    min-height: 80px;
    z-index: 6;
    backdrop-filter: blur(2px);
}

header#main-header.banner {
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, .8);
    box-shadow: 0 0 50px 0 rgba(20, 20, 20, .8);
}

section#account {
    background-color: #212020;
    padding: 50px 0;
}

.avatar.large {
    width: min(80%, 400px);
    box-shadow: inset 0 0 30px #3b3b3b;
}

.text-smooth-dark {
    color: #3b3b3b;
}

section#info {
    background-color: #212020;
    padding: 50px 0;
}

.fs-0 {
    font-size: 3rem;
}

/*section#info div.grid img {
    width: 150px;
    opacity: 0.7;
}*/

.card {
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) .4s;
    border-top: 4px solid #931611;
}

.card:nth-child(2n+1):hover {
    transform: rotate3d(1, 1, 0, 15deg) scale(1.1);
}

.card:nth-child(2n+0):hover {
    transform: rotate3d(1, -1, 0, 15deg) scale(1.1);
}

.sans-serif {
    font-family: sans-serif;
}

.text-gray {
    color: #3F3F40;
}

.mixblend {
    mix-blend-mode: difference;
}

.bg-dark-gray {
    background-color: #3F3F40;
}

.bg-gray {
    background-color: #696969;
}

.bg-light-gray {
    background-color: #bdbdbd;
}

.text-smooth-gray {
    color: #696969;
}

.fs-5-5 {
    font-size: 20px;
}

.description {
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    text-align: center;
}

a.btn-underlined {
    filter: drop-shadow(2px 4px 5px rgba(20, 20, 20, .7));
    display: inline-flex;
    position: relative;
    color: white;
    font-size: 18px;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

a.btn-underlined::after {
    content: '';
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate(0, 0);
}

a.btn-underlined:hover::after,
a.btn-underlined:focus::after {
    transform: translate(-100%, 0);
}

.btn-red {
    background-color: #6A1C1A;
    border: none;
}

.btn-red:hover {
    background-color: #541313;
    border: none;
}

.account-btn {
    background-color: rgba(50, 50, 50, .8);
    line-height: normal;
    display: flex;
    padding: 5px 5px 5px 15px;
}

footer {
    font-family: sans-serif;
    font-size: 16px;
    padding: 20px;
}

.popup {
    min-width: 400px;
    border-radius: 10px;
    max-width: 700px;
    background-color: #fbfbfb;
    padding: 50px 70px;
    transition: transform cubic-bezier(0.6, 0.2, 0.2, 1.2) .3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 100;
    display: none;
}

.hidden-tab {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, .5);
    z-index: 50;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity ease-in-out .3s;
    display: none;
}

.popup-status {
    text-align: center;
    padding: 20px 30px;
}

.popup-status img {
    width: 150px;
}

.popup-status p {
    color: #272727;
    font-size: 20px;
    font-family: sans-serif;
}

#navigate {
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-size: 20px;
    color: lightgray;
    left: 20px;
}

#navigate a {
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    color: lightgray;
}

#preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #212020 url("/images/logo.gif") no-repeat center center;
    background-size: 300px;
    z-index: 9999;
}

#preloader h1 {
    margin-top: 80px;
    animation: text .5s ease-in-out infinite alternate;
}

@keyframes text {
    from {
        transform: translate(-50%, -50%) scale(.9);
    }

    to {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

@media screen and (max-width: 991px) {
    footer {
        text-align: center;
    }

    footer * {
        float: none !important;
        position: unset !important;
        transform: none !important;
    }

    .account-btn {
        background: none;
        padding: 0;
        margin-left: 30px;
    }

    .account-btn .name {
        display: none;
    }
}